---
import '../../styles/global.css'
import '../../styles/one-pager.css'

import { CollectionEntry, Render, getCollection } from 'astro:content'
import DowngradeHeadings from '../../components/DowngradeHeadings.astro'
import ScrollPadding from '../../components/ScrollPadding.astro'
import ColoredTitle from '../../components/ColoredTitle.astro'
import { abstract } from '../../metadata'

const chapters = await getCollection('chapters')
const rendered: [ CollectionEntry<'chapters'>, Awaited<Render['.mdx']> ][]
	= await Promise.all(chapters.map(async chapter => [ chapter, await chapter.render() ]))
---

<html lang='fa' dir='rtl'>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />

	<link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
	<link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-code-font@v1.1.2/dist/font-face.css" rel="stylesheet" type="text/css" />

	<!-- <SEO chapterSlug='intro' /> -->
	<script defer data-domain='cpu.land' src='https://plausible.io/js/script.js' />
</head>
<body>
	<header>
		<div class='content'>
			<h1><ColoredTitle onDark /></h1>
			<p class='byline'>
				نوشته
				<a target='_blank' href='https://kognise.dev/'>لکسی متیک</a>
				و
				<a href='https://hackclub.com/'>هک کلاب</a>
				&middot;
				جولای ۲۰۲۳
			</p>
		</div>
		<div class='editions'>
			<div class='label'>نسخه‌ها</div>
			<div>
				<a href='/'>معمولی</a> &middot;
				<strong>تک‌صفحه‌ای</strong> &middot;
				<a href='/editions/printable.pdf'>PDF</a> <!--&middot;
				<a href='/editions/book.epub'>EPUB</a>-->
			</div>
		</div>
		<img src={`${import.meta.env.BASE_URL}/squiggles/print.svg`} class='cover-bg' />
	</header>

	<main>
		<div class='content'>
			{rendered.map(([ chapter, { Content } ]) => <>
				<h2 id={chapter.slug}>فصل {chapter.data.chapter}: {chapter.data.title}</h2>
				<DowngradeHeadings>
					<Content />
				</DowngradeHeadings>
			</>)}

			<ScrollPadding hideEditions />
		</div>
	</main>
</body>
</html>
