---
export interface Props {
	hideEditions?: boolean
}

const { hideEditions } = Astro.props
---

<footer class='scroll-padding'>
	<div class='content'>
		<p>[این جا عمداً خالی گذاشته شده]</p>
		<p>ته هر صفحه یکم فضای اضافه داره تا خوندن راحت‌تر باشه.</p>
		<p>
			<a target='_blank' href='https://github.com/tehlug/putting-the-you-in-cpu/tree/main/src/content/chapters'>
				متن‌باز با ❤︎ روی گیت‌هاب
			</a>
		</p>
		{hideEditions ? null : <>
			<hr />
			<p>
				نسخه‌های دیگه:
				<a href='/editions/one-pager'>تک‌صفحه‌ای</a> &middot;
				<a href='/editions/printable.pdf'>PDF</a><!--  &middot;
				<a href='/editions/book.epub'>EPUB</a> -->
			</p>
		</>}
	</div>
</footer>
